<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tutor93.menampilkanarray">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Starter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".latihan1.MainActivity"/>
        <activity android:name=".latihan2.Anko"/>
        <activity android:name=".detailview.DetailActivity"/>
        <activity android:name=".submission1.SubOneActivity"/>
        <activity android:name=".latihan3_footballclub.Latihan3Activity"/>
        <activity android:name=".submission2.SubTwoActivity"/>
        <activity android:name="com.tutor93.menampilkanarray.detail.detailmatch.DetailMatchActivity"/>
        <activity android:name=".detailview.DetailNextEventActivity"/>
        <activity android:name=".latihan4_footballclub.Latihan4Activity"/>
        <activity android:name=".detailview.DetailTeamxx"/>
        <activity android:name=".main.MainActivity"/>
        <activity android:name=".detail.detailteam.DetailTeam"/>
        <activity android:name=".detailview.DetailPlayer"/>
        <activity android:name=".main.SearchActivity"/>
    </application>

</manifest>